.product-page {
  min-height: calc(100vh - 204px);
  padding: 10px 120px 100px;

  display: flex;
  flex-direction: row;
}

.product-page h1 {
  text-align: center;
  margin-top: 80px;
  font-size: 40px;
}

.product-page__product-image {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.product-page__ingredients {
  font-size: 20px;
}

.product-page__ingredients input[type="checkbox"] {

}

.product-page__description-section {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-page__description {
  margin-top: 300px;
  font-size: 28px;
  text-align: justify;
}

.product-page__add-button {
  display: block;
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  text-align: center;

  outline: none;
  font-size: 30px;
  cursor: pointer;
  color: black;
  background-color: white;
  border: 1px solid  black;
  border-radius: 4px;
  text-decoration: none;
  transition: all 300ms;
}

.product-page__add-button:hover {
  transform: scale(1.05);
  transition: all 300ms;
}

.product-page__add-button:active {
  transform: scale(1.02);
}

@media (max-width: 1100px) {
  .product-page {
    flex-direction: column;
  }

  .product-page__product-image {
    width: 60vw;
  }

  .product-page__description {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .product-page {
    padding: 10px 60px 100px;
  }

  .product-page__description {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .product-page {
    padding: 10px 30px 100px;
  }

  .product-page__description {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .product-page {
    padding: 10px 10px 100px;
  }

  .product-page__description {
    font-size: 17px;
  }
}

















label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }
  
  input[type=checkbox].css-checkbox {
      position: absolute; 
      overflow: hidden; 
      clip: rect(0 0 0 0); 
      height:1px; 
      width:1px; 
      margin:-1px; 
      padding:0;
      border:0;
  }
  
  input[type=checkbox].css-checkbox + label.css-label {
    padding-left:20px;
    height:15px; 
    display:inline-block;
    line-height:15px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer;
  }
  
  input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -15px;
  }
  
  .css-label{
    background-image:url(http://csscheckbox.com/checkboxes/dark-check-green.png);
  }